<div class="auth-container">
  <h2>Iniciar Sesión</h2>
  <form (ngSubmit)="login()" class="auth-form" #loginForm="ngForm">
    <label for="email">Email:</label>
    <input
      id="email"
      type="email"
      [(ngModel)]="email"
      name="email"
      required
      #emailInput="ngModel"
      autocomplete="email"
    />
    <div *ngIf="emailInput.invalid && emailInput.touched" class="error">
      Email válido es obligatorio
    </div>

    <label for="password">Contraseña:</label>
    <input
      id="password"
      type="password"
      [(ngModel)]="password"
      name="password"
      required
      #passwordInput="ngModel"
      autocomplete="current-password"
    />
    <div *ngIf="passwordInput.invalid && passwordInput.touched" class="error">
      La contraseña es obligatoria
    </div>

    <button class="btn-primary" type="submit" [disabled]="loginForm.invalid">
      Ingresar
    </button>
  </form>

  <div class="auth-footer">
    <a routerLink="/register">Registrarse</a>
  </div>
</div>
